/*@media screen and (min-width: 50rem) {
  .IntroWrapper {
    display: table;
    table-layout: fixed;
    width: 100%;
  }
  .MoneyShot,
  .IntroText {
    display: table-cell;
    width: 50%;
    vertical-align: middle;
    text-align: center;
  }
  .IntroText {
    padding: .5rem;
    font-size: 2.5rem;
    text-align: left;
  }
  .Ingredients {
    font-size: .9rem;
    float: right;
    padding: 1rem;
    margin: 0 0 .5rem 1rem;
    border-radius: 3px;
    background-color: #ffffdf;
    border: 2px solid #e8cfa9;
  }
  .Ingredients h3 {
    margin: 0;
  }
}*/

@media screen and (min-width: 50rem) {
  .rel1Logo {
    max-width: 25%;
    margin: 2rem 1rem 2rem 5rem;
  }

  .rel1Logo img {
    max-width: 100%;
    /*margin: 1rem;*/
  }

  .banner {
    width: 100%;
  }

  .banner img {
    max-width: 97.5%;
    height: auto;
    margin: 1rem 5rem 2rem 5rem;
  }

  #middleDiv {
    display: table;
    table-layout: fixed;
    width: 100%;
    margin: 2rem 1rem 2rem 3.5rem;
  }

.loremIpsum,
.formDiv {
  display: table-cell;
  width: 50%;
  vertical-align: middle;
  text-align: center;
}


  .loremIpsum {
    text-align: left;
    font-family: 'PT Sans';
    font-weight: 400;
    font-style: normal;
    font-size: 1.75rem;
    src: local('PT Sans'), local('PTSans-Regular'), url(http://fonts.gstatic.com/s/ptsans/v8/oysROHFTu1eTZ74Hcf8V-VKPGs1ZzpMvnHX-7fPOuAc.woff2) format('woff2');
    unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
    /*margin-right: 4.55rem;*/
    padding-right: 5rem;
    line-height: 2em;
  }

  .formDiv {
    /*display: inline-block;*/
    /*margin-top: .5rem;*/
    /*margin-left: 3rem;*/
    /*margin-right: 0rem;*/
    padding-left: 3rem;
    /*width: 48%;*/
    vertical-align: top;
    line-height: 1.9em;

  }

  #formDisplay {
    display: table;
    table-layout: fixed;
    width: 100%;
    border-style: 2px solid;
  }

  /*button {
    margin-left: 10rem;
  }*/
}
